.cartEmpty{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  height: 100%;

  &Title{
    font-weight: 600;
    font-size: 22px;
  }

  &Description{
    color: #c4c4c4;
    text-align: center;
  }
}

.greenBtn{
  color: white;
  position: relative;
  background-color: #9DD458;
  width: 100%;
  padding: 18px 0;
  border-radius: 18px;
  transition: background-color 0.2s ease-in-out;

  &:active{
    background: darken(#9dd558, 5%);
  }

  &:hover{
    background: lighten(#9dd558, 5%);
  }

  img{
    position: absolute;
    top: 20px;
    transition: transform 0.2s ease-in-out;
  }

  &_right{
    img{
      right: 30px;
    }
    &:hover img{
      transform: translateX(5px);
    }
  }

  &_left{
    img{
      left: 30px;
    }
    &:hover img{
      transform: translateX(-5px);
    }
  }

}