.drawer{
  width: 385px;
  position: absolute;
  right: 0;
  height: 100%;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.10);
  padding: 30px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;

  .cartItems{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
    margin-right: -20px; // hz
    overflow: auto;
  }

  .drawerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  .cartItem{
    padding: 20px;
    min-width: 325px;
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;

    .cartItem_img{
      margin-right: 21px;
    }

    .cartItemImg{
      width: 100px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 10px;
      margin-right: 21px;

    }

    .cartItem_title{
      font-size: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      margin-right: 12px;
    }
  }

  .cartBottom{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    .cost{
      display: flex;
      justify-content: space-between;
      margin-top: 24px;

      div{
        width: 50%;
        border-bottom: 1px dashed #dfdfdf;
      }
    }
  }
}

.removeBtn{
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover{
    opacity: 1;
  }
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;

  &.overlayVisible{
    visibility: visible;
    opacity: 1;

    .drawer{
      transform: translateX(0%);
    }
  }
}

body:has(.overlayVisible){
  overflow: hidden;
}


@keyframes button-loading {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.8;
  }
  100%{
    opacity: 1;
  }
}
